.app.dark {

  --bg-color: #2222ff;
  --inverted-bg-color: #f6f4e3;

  --primary-color: #20b20e;
  --secondary-color: #93e96b;

  --inverted-primary-color: #15349b;
  --inverted-secondary-color: #809ad8;
}
